@keyframes glow-animation {
	0%,
	100% {
		box-shadow: 0 0 3px 2px rgba(158, 114, 37, 0.5); /* Dim state */
	}
	50% {
		box-shadow: 0 0 5px 4px rgba(245, 158, 11, 0.75); /* Bright state */
	}
}

.glow-effect-orange {
	animation: glow-animation 1.5s ease-out infinite;
}

.cubespinner {
	animation: spincube;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-duration: 12s;
	transform-style: preserve-3d;
	transform-origin: 6.25rem 6.25rem 0;

	div {
		position: absolute;
		width: 12.5rem;
		height: 12.5rem;
		border: 1px solid #ccc;
		background: rgba(105, 105, 105, 0.322);
		text-align: center;
		font-size: 6.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 0 1.25rem 0px lightyellow;
	}

	.face1 {
		transform: translateZ(6.25rem);
	}
	.face2 {
		transform: rotateY(90deg) translateZ(6.25rem);
	}
	.face3 {
		transform: rotateY(90deg) rotateX(90deg) translateZ(6.25rem);
	}
	.face4 {
		transform: rotateY(180deg) rotateZ(90deg) translateZ(6.25rem);
	}
	.face5 {
		transform: rotateY(-90deg) rotateZ(90deg) translateZ(6.25rem);
	}
	.face6 {
		transform: rotateX(-90deg) translateZ(6.25rem);
	}
}

@keyframes spincube {
	from,
	to {
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
	16% {
		transform: rotateY(-90deg) rotateZ(90deg);
	}
	33% {
		transform: rotateY(-90deg);
	}
	50% {
		transform: rotateY(-180deg) rotateZ(90deg);
	}
	66% {
		transform: rotateY(-270deg) rotateX(90deg);
	}
	83% {
		transform: rotateX(90deg);
	}
}
